body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

p {
    font-size: smaller;
}

footer {
    color: white;
    background-color: black;
}